<h1>Create Settings</h1>

    {{!-- bloodGlucose: Number,
    totalCorrection:Number,
    fixedCorrection: Number,
    foodItems: Array,
    totalCarbs: Number,
    totalFoodDelivery: Number,
    deliveryType: String,
    totalDelivery: Number,
    deliveryTime: Date --}}

<form action="/insulin" method="POST">
    <diV class="form-group">
        <label>Enter BG</label>
        <span><input type="number" name="bloodGlucose" /></span>
    </diV>
    <div class="form-group">
        <label>Food Items</label>
        <div id="food-pop">
            {{!-- dropdown values added go here --}}
        </div>
        <div class="food-dd" id="food-dd">
        <select name="foodItems" id="foodItemsdd">
            {{#each foodData}}
            <option>{{name}} <span class="carb-val">{{carbValue}}</span></option>
            {{/each}}
        </select>
        </div>
    </div>
    <div class="form-group">
        <label>Delivery Type</label>
        <select name="deliveryType" id="deliveryTypedd">
            <option value="food">Food Delivery</option>
            <option value="correction">Correction</option>
            <option value="both">Both</option>
        </select>
    </div>
    <input type="submit" value="Create" />
</form>