<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Closed Loop Pancreas</title>
    <link rel="stylesheet" href="/style.css" type="text/css">    
</head>
<body>
    {{{body}}}
    <script type="text/javascript" src="/js/calc.js"></script>
</body>