<h1 class="page-heading">Food Item</h1>

<a class="food-btn" href="/food/new">
    <button>
        Create Food
    </button>
</a>
<div class="all-items">
    <div class="food-container">
        {{#each allFood}}

        <div class="food-item">
            <div class="item">
                <div class="label">Food Item:</div>
                <div class="data name">{{name}}</div>
            </div>
            <div class="item-group">
                <div class="item">
                    <div class="label">Carbs</div>
                    <div class="data">{{carbValue}}g</div>
                </div>
                <div class="item">
                    <div class="label">Drink?</div>
                    <div class="data capital">{{isBeverage}}</div>
                </div>
            </div>
            <a href="/food/{{_id}}"><button>View</button></a>
        </div>

        {{/each}}
    </div>
</div>