<h1>Food Item DB</h1>

<a href="/food/new">
    <button>
        Create Food
    </button>
</a>

{{#each allFood}}

<div class="food-item">
    <div class="item">
        <div class="data name">{{name}}</div>
    </div>
    <div class="item">
        <div class="label">Carbohydrates</div>
        <div class="data">{{carbValue}}g</div>
    </div>
    <div class="item">
        <div class="label">Is Beverage?</div>
        <div class="data">{{isBeverage}}</div>
    </div>
</div>
<a href="/food/{{_id}}"><button>View</button></a>
{{/each}}