<a href="/food/{{singleFood._id}}/edit">
    <button>
        Edit
    </button>
</a>
<div class="item">
    <div class="label">Name</div>
    <div class="data name">{{singleFood.name}}</div>>
</div>

<div class="item">
    <div class="label">Carbohydrates</div>
    <div class="data">{{singleFood.carbValue}}</div>
</div>

<div class="item">
    <div class="label">Is Beverage</div>
    <div class="data">{{singleFood.isBeverage}}</div>
</div>